<html xmlns="http://www.w3.org/1999/xhtml" content="text/html;">
<head>
    <title>Администратор</title>
    <script>
        function createUser() {
            const nameTextBox = document.getElementById('nameTextBox');
            const loginTextBox = document.getElementById('loginTextBox');
            const passwordTextBox = document.getElementById('passwordTextBox');
            const createdUserDataContainer = document.getElementById('createdUserDataContainer');
            const inputUser = {
                name: nameTextBox.value,
                login: loginTextBox.value,
                password: passwordTextBox.value
            }
            fetch('api/user', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(inputUser)
            })
                .then(response => response.json())
                .then(user => createdUserDataContainer.innerHTML = JSON.stringify(user));
        }
    </script>
</head>

<body>
<h4>Создать нового пользователя</h4>
<input type="text" id="nameTextBox" value="Nick" placeholder="Введите имя">
<input type="text" id="loginTextBox" value="nick" placeholder="Введите логин">
<input type="text" id="passwordTextBox" value="123" placeholder="Введите пароль">
<button onclick="createUser()">Создать</button>
<pre id="createdUserDataContainer"></pre>

<h4>Все пользователи</h4>
<table style="width: 400px">
    <thead>
    <tr>
        <td style="width: 50px">id</td>
        <td style="width: 150px">Имя</td>
        <td style="width: 100px">Логин</td>
        <td style="width: 100px">Пароль</td>
    </tr>
    </thead>
    <tbody>
    <#list users as user>
    <tr>
        <td>${user.id}</td>
        <td>${user.name}</td>
        <td>${user.login}</td>
        <td>${user.password}</td>
    </tr>
    <#else>
    <p>Нет пользователей
    </#list>
    </tbody>
</table>
</body>
</html>
